body {
    font-family: Arial, sans-serif;
    margin: 2rem;
    background: #f2f2f2;
}

form {
    display: flex;
    gap: 1rem;
}

#habit-list {
    margin-top: 2rem;
}

.habit {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

body.dark-mode {
    background-color: #121212;
    color: #eeeeee;
}

.delete-btn {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: red;
}